*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI;
}

body{
background:#f5f5f7;
}

.main-header{
background:white;
padding:15px 60px;
display:flex;
align-items:center;
justify-content:space-between;
position:sticky;
top:0;
z-index:999;
box-shadow:0 2px 8px rgba(0,0,0,.05);
}

.logo{
font-size:22px;
font-weight:600;
}

.logo span{
color:#0071e3;
}

.menu a{
margin:0 15px;
text-decoration:none;
color:#222;
font-weight:500;
}

.right{
display:flex;
align-items:center;
gap:15px;
}

.right input{
padding:7px 15px;
border-radius:20px;
border:1px solid #ddd;
outline:none;
}

.icons span{
font-size:18px;
cursor:pointer;
}


nav a{
margin-left:25px;
text-decoration:none;
color:black;
}

.hero{
background:#eee;
padding:100px;
border-radius:30px;
margin:30px;
text-align:center;
}

.hero h1{
font-size:48px;
margin-bottom:15px;
}


button{
background:#0071e3;
border:none;
color:white;
padding:10px 25px;
border-radius:20px;
cursor:pointer;
}


.title{
text-align:center;
margin:40px 0;
font-size:30px;
}


.products{
padding:0 60px;
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:25px;
}


.card{
background:white;
padding:20px;
border-radius:20px;
text-align:center;
transition:.3s;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
}

.card:hover{
transform:translateY(-6px);
box-shadow:0 10px 25px rgba(0,0,0,.1);
}

.card img{
width:100%;
border-radius:15px;
}

.card h3{
margin:10px 0;
}

.card p{
color:#0071e3;
font-weight:bold;
}


footer{
margin-top:50px;
padding:30px;
text-align:center;
background:white;
}


@media(max-width:700px){

header{
flex-direction:column;
gap:15px;
}

.hero{
padding:50px;
}

}
