*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI, sans-serif;
}

body{
background:#f5f5f7;
}


header{
background:white;
padding:20px 60px;
display:flex;
justify-content:space-between;
align-items:center;
position:sticky;
top:0;
z-index:10;
}

nav a{
margin-left:25px;
text-decoration:none;
color:black;
font-weight:500;
}


.hero{
margin:30px;
padding:100px;
background:linear-gradient(135deg,#eee,#ddd);
border-radius:30px;
text-align:center;
}

.hero h1{
font-size:48px;
margin-bottom:10px;
}


button{
background:#0071e3;
border:none;
color:white;
padding:10px 25px;
border-radius:20px;
cursor:pointer;
transition:.3s;
}

button:hover{
transform:scale(1.05);
}


.title{
text-align:center;
margin:40px 0;
font-size:30px;
}


.products{
padding:0 60px;
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:25px;
}


.card{
background:white;
padding:20px;
border-radius:20px;
text-align:center;
transition:.3s;
}

.card:hover{
transform:translateY(-8px);
box-shadow:0 10px 30px rgba(0,0,0,.12);
}

.card img{
width:100%;
border-radius:15px;
margin-bottom:10px;
}

.card h3{
margin:10px 0;
}

.card p{
color:#0071e3;
font-weight:bold;
margin-bottom:10px;
}


footer{
margin-top:60px;
padding:30px;
text-align:center;
background:white;
}


div button{
margin:5px;
}


@media(max-width:700px){

header{
flex-direction:column;
gap:15px;
}

.hero{
padding:50px 20px;
}

}
