* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: #f5f5f7;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    background: white;
    align-items: center;
    gap: 150px;
}

.shop {
    color: #0071e3;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.nav-resources {
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-btn{
    padding: 5px 15px;
    border-radius: 20px;
    border: none;
    background: #0071e3;
    color: white;
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    background: white;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: black;
}

.hero {
    margin: auto;
    margin-top: 50px;
    width: 90%;
    text-align: center;
    padding: 100px 20px;
    background: #eee;
    background-image: url(https://avatars.mds.yandex.net/i?id=c23d5bd1086e085bdd0ab2f0237a67d344205bd1-11944133-images-thumbs&n=13);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.btn {
    padding: 10px 25px;
    border-radius: 20px;
    border: none;
    background: #0071e3;
    color: white;
    margin: 10px;
    cursor: pointer;
}

.outline {
    background: transparent;
    color: #0071e3;
    border: 2px solid #0071e3;
}

.title {
    text-align: center;
    margin: 40px;
}

.products {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    padding: 0 60px;
}

.card {
    background: white;    border-radius: 15px;
    text-align: center;
}

.card img {
    width: 100%;
}

.card button {
    margin-top: 10px;
    padding: 8px 20px;
    border-radius: 15px;
    border: none;
    background: #0071e3;
    color: white;
}

.airpods {
    margin: 60px;
    padding: 60px;
    background: white;
    border-radius: 20px;
}

footer {
    text-align: center;
    padding: 30px;
    background: white;
}
 